*.class

# Mobile Tools for Java (J2ME) #
.mtj.tmp/

# IntelliJ #
*.iml
.idea/
*.xml

# Eclipse #
.project
.classpath


# Package Files #
# *.jar removed to allow nom-tam-fits to be pushed #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml #
hs_err_pid*
/bin/

# Data #
data/
